#footer {
  padding: 50px 0;
  color: #7f7f7f;
  position: relative;
}
#footer .gotop {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  z-index: 8;
  width: 80px;
  height: 80px;
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#footer .gotop:hover, #footer .gotop:focus {
  top: -25px;
  text-decoration: none !important;
}
#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.top-footer {
	background-image: url("../images/top-footer.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 20px 0;
        float: left;
}
.top-footer::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	background-color: #ffff;
}


.top-footer .container {
	position: relative;
}
.top-footer ul {
	padding-left: 0;
	border-bottom: 1px solid rgba(116,100,85,0.5);
	padding-bottom: 20px;
	list-style: none;
	margin-bottom: 50px;
}
.top-footer ul li {
	display: inline-block;
	margin-right: 30px;
}
.top-footer ul li:last-child {
	float: right;
	margin-right: 0;
}
.top-footer ul li a {
	font-size: 16px;
	color: #d49d19;
	float: left;
}
.top-footer ul li a:hover {
	color: #fff;
}
footer .footer_social {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer_social li {
  display: inline-block;
  margin: 5px;
}
footer .footer_social li a {
  border: solid 1px #1496BB;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #1496BB;
  width: 40px;
  height: 40px;
  text-align: center;
}
footer .footer_social li a:hover {
  background-color: #1496BB;
  color: #ffffff;
}
.btn {
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  padding: 12px 40px;
  border-radius: 0;
  outline: 0 !important;
  border: none;
  cursor: pointer;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  color: #18181c;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-sm {
  padding: 10px 20px;
}

.btn-lg {
  padding: 18px 50px;
}

.btn_center {
  margin: 0 auto;
  display: block;
}

.btn.btn-shadow {
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
}file:///home/iiita/Downloads/iiic-new-website-master/assets/css/main.css
.btn.btn-shadow:hover {
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.btn-rounded {
  border-radius: 50px;
}

.btn-primary {
  background-color: #1496BB;
  border: solid 1px #1496BB;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary:hover {
  background-color: #18181c;
  color: #ffffff;
  border: solid 1px #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-primary-outline {
  background-color: transparent;
  border: solid 1px #1496BB;
  color: #1496BB;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary-outline:hover {
  background-color: #1496BB;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
file:///home/iiita/Downloads/iiic-new-website-master/assets/css/main.css
.btn-light {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-light:hover {
  color: #ffffff;
  border: solid 1px #18181c;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-dark {
  background-color: #333333;
  border: solid 1px #18181c;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-dark:hover {
  color: #18181c;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer {
  padding: 15px 0 10px;
  background-color: #ffff;

}
footer .footer_box {
  position: relative;
  margin-top: 20px;
  float:right;
}
footer .footer_box h4.footer_title {
  text-transform: uppercase;
  padding: 0px 0;
  font-size: 18px;
  color: #000000;
  float:right;
}
footer .footer_box h4.footer_title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 3px #1496BB;
  left: 0;
  top: 0;
}
footer .footer_header {
  margin-bottom: 30px;
}
footer .footer_social {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer_social li {
  display: inline-block;
  margin: 5px;
}
footer .footer_social li a {
  border: solid 1px #1496BB;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #1496BB;
  width: 40px;
  height: 40px;
  text-align: center;
}
footer .footer_social li a:hover {
  background-color: #1496BB;
  color: #ffffff;
}
footer ul.instagram_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul.instagram_list li {
  display: inline-block;
  width: 30%;
  margin: 0 0 2% 2%;
  float: left;
}
footer .newsletter_form .form-control {
  background-color: #1f1039;
  border: solid 1px #1f1039;
  font-weight: 500;
  color: #ffffff;
  width:20%;
  margin:0px auto;
  float:right;
}


.copyright_footer {
  background-color: #080113;
  padding: 15px;
}
.copyright_footer p {
  font-size: 13px;
  padding: 10px;
  text-transform: capitalize;
  color: #ffffff;
}
.copyright_footer ul.footer_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  direction: rtl;
}
.copyright_footer ul.footer_menu li {
  display: inline-block;
}
.copyright_footer ul.footer_menu li a {
  padding: 10px;
  text-transform: capitalize;
  color: #838383;
}
.copyright_footer ul.footer_menu li a:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .copyright_footer {
    text-align: center;
  }
}
